@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FAD9E6;
    padding: 5px 0 5px 0;
}

/* Waves paling atas */
.custom-shape-divider-top-1652971301 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652971301 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1652971301 .shape-fill {
    fill: white;
}

/* navbar */

.logoSc{
    display: flex;
    align-items: flex-end;
}

.logoSc a{
    margin-left: 10px;
    font-weight: bold;
}

/* about us */
#about-us{
    padding: 4rem 0 4rem 0;
}



/* Footer */
footer{
    background-color: #C1A3A3;
}

.fKiri{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
}

.fKiri-nama span{
    font-family: 'Oleo Script', cursive;
}

.fKanan p{
    font-family: 'Open Sans', sans-serif;
    padding: 3px 0 3px 0;
}

@media (max-width: 768px){
    .fKanan{
        padding-top: 20px;
    }
}
